# Tutorial 1 - Python For Data Analysis üêç 

---

## Basics of Python üå±

### *Table of Contents*

- [Exercise 1](#exercise-1) : List
- [Exercise 2](#exercise-2) : Lambda
- [Exercise 3](#exercise-3) : Dictionary
- [Exercise 4](#exercise-4) : Tuples, Sets
- [Exercice 5](#exercise-5) : Dates
- [Exercise 6](#exercise-6) : File I/O

If you have any questions or remarks about the course or this tutorial, feel free to contact imen.ouled_dlala@devinci.fr or yann.kervella.pro@gmail.com ! üòä

### Requirements

In [1]:
from datetime import datetime, date, time, timedelta
import pytz
import re

<a name="exercise-1">

### Exercise 1 : List
---

‚Ä¢ Write a program to print a specified list after removing the 0th, 4th and 5th elements. 

- *Sample List*: ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

- *Expected Output*: ['Green', 'White', 'Black']

In [8]:
l = [1,2,3,4,5,6,7]
l.pop(5)
l.pop(4)
l.pop(0)
l

[2, 3, 4, 7]

‚Ä¢ Write a program to check whether two lists are circularly identical.

In [17]:
l1 = [1,2,3,4,5,6]
l2 = [3,4,5,6,1,2]
l3 = [3,4,5,1,6,2]
l4 = [7,4,6,34,7,1,2]

def listCircular(l1,l2):
  n = 0
  if len(l1)!=len(l2):
    return False
  for i in range(len(l1)):
    if l1[0] == l2[i]:
      l2 = l2[i:]+l2[:i]
      for j in range(len(l1)):
        if l1[j] == l2[j]:
          n+=1
  if n == len(l1):
    return True
  else:
    return False


#method efficace

def listeCircular(l1,l2):
  return any(l1[i:]+l1[:i] == l2 for i in range(len(l1)))

listeCircular(l1,l4)

False

‚Ä¢ Giving the following list [33, 56, 4, 80, 23, 100, 1, 0, 40, 11], write a program to extract:
- the elements from 0 (included) to 7 (excluded)
- the last element of the list
- the last 3 elements of the list

In [21]:
l5 =  [33, 56, 4, 80, 23, 100, 1, 0, 40, 11]
l5[:7]
l5[-1]
l5[-3:]

11

‚Ä¢ Write a program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.

- *Sample List* : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)] 

- *Expected Result* : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [25]:
l6 =  [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
l6 = sorted(l6, key = lambda x: x[-1])
l6

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

<a name="exercise-2">

### Exercise 2
---

‚Ä¢ Write a program to **square and cube** every number in a given list of integers using **Lambda**.

- Original list of integers:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- Square every number of the said list:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

- Cube every number of the said list:
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
l7 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

l8 = list(map(lambda x : x**2 ,l7))
l9 = list(map(lambda x : x**3,l7))


l8
l9

<a name="exercise-3">

### Exercise 3 : Dictionary

---

‚Ä¢ Write a script to check whether a given key already exists in a dictionary.

In [30]:
sample_dict = {"name": "Jefferson", "birth_date": "1999-21-09", "gender": "Male"}

In [34]:
def dictkey(dico,cle):
  if cle in dico:
    return True
  else:
    return False 
dictkey(sample_dict,'efv')

False

‚Ä¢ Write a program to iterate over dictionaries using for loops.

In [39]:
def dico(dico):
  return [dico[i] for i in dico]
dico(sample_dict)

['Jefferson', '1999-21-09', 'Male']

‚Ä¢ Write a script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).

- Sample Dictionary: (n = 5)
- Expected Output: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [43]:
dict(zip([i for i in range(1,6)],[i**2 for i in  range(1,6)]))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

‚Ä¢ Write a program to map two lists into a dictionary.

In [44]:
list1 = ["name", "birth_date", "gender"]
list2 = ["Jessica", "1999-04-05", "Female"]

In [46]:
dict(zip(list1,list2))

{'birth_date': '1999-04-05', 'gender': 'Female', 'name': 'Jessica'}

<a name="exercise-4">

### Exercise 4 : Tuples & Sets

---
‚Ä¢ Write a program to compute element-wise sum of given tuples. 
- Original lists:
(1, 2, 3, 4) (3, 5, 2, 1) (2, 2, 3, 1)
- Element-wise sum of the said tuples:
(6, 9, 8, 6)

In [47]:
l10 = (1, 2, 3, 4) 
l11 = (3, 5, 2, 1)
l12 = (2, 2, 3, 1)
list(map(lambda x1,x2,x3 : x1+x2+x3,l10,l11,l12))

[6, 9, 8, 6]

In [53]:
def sommeTuples(*tuples):
  return list(map(lambda *x : sum(x),*tuples))

‚Ä¢ Write a Python program to convert a tuple to a dictionary

In [48]:
t1 = [(1,2),(3,4),(5,6)]
dict(t1)

{1: 2, 3: 4, 5: 6}

<a name="exercise-5">

### Exercise 5 : Dates

---
‚Ä¢ Write a Python program to get the current time. 
- Sample Format: 13:19:49.078205

In [76]:
from datetime import datetime
from datetime import timedelta
import pytz
paris = pytz.timezone('Europe/Paris')
print(datetime.now(tz = paris))

2021-09-29 16:44:04.997626+02:00

‚Ä¢ Write a Python program to subtract five days from current date. 
- Sample Date:
- Current Date: 2015-06-22
- 5 days before Current Date : 2015-06-1

In [81]:
now = datetime.now(tz = paris)
print(now -timedelta(5))

2021-09-24 16:46:11.012446+02:00

‚Ä¢ Write a Python program to print yesterday, today, tomorrow

In [84]:
today = datetime.today()
yesterday = today - timedelta(1)
tomorrow = today + timedelta(1)

print(tomorrow)

2021-09-30 14:48:17.281148

‚Ä¢ Write a Python program to get week number.
- Sample Date : 2015, 6, 16 
- Expected Output : 25

‚Ä¢ Write a Python program to calculate a number of days between two dates

<a name="exercise-6">

### Exercise 6 : File I/O

---
‚Ä¢ Write a Python program to count the number of lines in a text file

In [86]:
with open('data.txt') as myfile:
    count = sum(1 for line in myfile)

print(count)

7

‚Ä¢ Write a Python program to assess if a file is closed or not

In [88]:
def closed(file):
  return file.closed

closed(myfile)

True

‚Ä¢ Write a Python program to append text to a file and display the text

In [ ]:
file = open('data.txt','a')
file.write('Bonjour monsieur')

file.close
file = open('data.txt','r')
for i in file:
  print(i)

In [104]:
file = open('data.txt','w')
file.write("this is a sample\ndocument for a course\nby ESILV in python tutorial\ngood luck folks for this sample\nif you have a question don't hesitate to ask me\nyou must have my email as well if questions after the session")

208

‚Ä¢ Write a Python program to count the frequency of words in a file.

In [105]:
file = open('data.txt','r')
line = ''
for i in file:
  line += i

l = line.split(' ')

['this',
 'is',
 'a',
 'sample\ndocument',
 'for',
 'a',
 'course\nby',
 'ESILV',
 'in',
 'python',
 'tutorial\ngood',
 'luck',
 'folks',
 'for',
 'this',
 'sample\nif',
 'you',
 'have',
 'a',
 'question',
 "don't",
 'hesitate',
 'to',
 'ask',
 'me\nyou',
 'must',
 'have',
 'my',
 'email',
 'as',
 'well',
 'if',
 'questions',
 'after',
 'the',
 'session']

## Good job, you finished the first tutorial ! üòé